body {
   	background-color: grey;
    font-family: arial;
   	display: block;
    
 	
}

div {
    
    
    width: 1296px;
    height: 727px;
    border: 25px solid grey;
    padding: 25px;
    margin: 25px;
}


header  {
	float:center;
	 width: 960px; 
    text-align: center;
    padding: 40px;
    font-size: 18px;
    background-color: #ebebeb;
    color: grey;
    border-style: solid;
    margin-left: 30px;
    
    
}

nav {
	float:center;
	width: 960px;
	text-align: center;
	padding: 40px;
	font-size: 18px;
	background-color: #ebebeb;
	color: grey;
	border-style: solid;
	margin-top: 05px;
	margin-left: 30px;

}	

section  {
	text-align: left;
    float: left;
	width: 495px; 
    height:300px;
	margin-left: 30px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
   
    text-align: center;
    font-size: 18px;
    background-color: #ebebeb;
    color: grey;
    border-style: solid;
    margin-bottom: 10px;
    margin-top: 10px;
    
   
    
    

}

article {
    float:left;
    width: 450px;
   margin-right:20px;
    text-align: center;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    background-color: #777;
    color: white;
    border-style: solid;
    margin-top: 30px;
    
    
}   

h1 {

	float:center;
    width: 400px;
	text-align: center;
   padding: 15px;
    font-size: 18px;
    background-color: #ebebeb;
    color: grey;
    border-style: solid;
    
}

p {
	float:left;
    width: 400px; 
    text-align: center;
    font-size: 18px;
    background-color: #ebebeb;
    color: grey;
    border-style: solid;
    margin-top: 5px;
    padding: 15px;    
}

aside {
	float:left;
    margin-left: 10px;
    height: 220px;
	width: 380px;
	text-align:center;
	margin-top: 10px;
    padding: 60px;
	font-size: 18px;
	background-color: #ebebeb;
	color: grey;
	border-style: solid;
	
    
	

}	

footer {
    clear:left;
	width: 960px; 
    text-align: center;
    padding: 40px;
    font-size: 18px;
    background-color: #ebebeb;
    color: grey;
    border-style: solid;
    
   margin-left: 30px;
   margin-bottom: 80px;
  margin-right: 25px;
      
}
