/**
 * Float Layout Activity 
 **/


body {

box-sizing: border-box;
  text-align: center;
}

header {
     
	padding: 20px;
	margin-bottom: 20px;
	color: #333;
  background: #ccc;
}

section {
 width:20%;
 background-color: #666;
 color:white;
 text-align:center;
 padding:20px;
 float:left;
}

#left {
background-color: #666;
 width:20%;
 color:white;
 text-align:center;
 padding:20px;
 float:left;
 margin-top: 30px;
}

#middle {
      
      
      background-color: #888;
     color:white;
     text-align:center;
     padding:20px;
     float: center;
     margin-top: 30px;

}

#right {
background-color: #666;
 color:white;
 text-align:center;
 padding:20px;
 float:right;
 margin-top: 30px;
}

#full {
background-color: #eee;
 color:black;
 text-align:center;
 padding:20px;
 float:center;
 margin-top: 140px;
}

#division {

background-color: #6ea3da;
 color: black;
 text-align:center;
 padding:20px;
 }

aside {
width:330px;
background-color:white;
 color:black;
 text-align:center;
 padding:20px;
 float: left;
 
}

footer {
float: center;
background-color: #ccc;
color:#333;
text-align:center;
padding:20px;
margin-top: 340px;
}

